<div class="center-block w-xxl1 w-auto-xs p-v-md " >
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
          <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
          <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
          <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
          <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
        </svg>
        <span class="m-l inline">{{app.name}}</span>
      </div>
    </div>
    <div class="panel md-whiteframe-z1 text-color m">
      <div class="panel-heading bg-white">
        <h4><b>Contact Details</b></h4>
      </div>
      <hr style="margin: auto;"/>
      <form name="form">
        <div class="panel-body">
          <span class="font-bold">WebSite</span>
          <md-input-container class="md-block" style="margin-bottom: 0px;">
                <label>Website URL</label>
                <input  name="Website" ng-model='user.Website' type="url" pattern="">
                <div ng-messages="user.Website.$error">
                  <div ng-message="pattern"></div>
                </div>
              </md-input-container>
          <span class="font-bold">Social Profile</span>
          <div class="row">
            <div class="col-sm-6 m-b">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px; ">
                <label>Facebook URL</label>
                <input  name="fb" ng-model='user.fb' type="url" pattern="http://www\.facebook\.com\/(.+)|https://www\.facebook\.com\/(.+)">
                <div ng-messages="user.fb.$error">
                  <div ng-message="pattern">Facebook</div>
                </div>
              </md-input-container> 
            </div>
            <div class="col-sm-6 m-b">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;">
                <label>Twitter URL</label>
                <input  name="twitter" ng-model='user.twitter' type="url" pattern="http://\.twitter\.com\/(.+)|https://\.twitter\.com\/(.+)">
                <div ng-messages="user.fb.$error">
                  <div ng-message="pattern">Twitter</div>
                </div>
              </md-input-container>        
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 m-b">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;">
                <label>Google Plus URL</label>
                <input  name="gplus" ng-model='user.gplus' type="url" pattern="">
                <div ng-messages="user.gplus.$error">
                  <div ng-message="pattern"></div>
                </div>
              </md-input-container> 
            </div>
            <div class="col-sm-6 m-b">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;">
                <label>Instagram URL</label>
                <input  name="insta" ng-model='user.insta' type="url" pattern="">
                <div ng-messages="user.insta.$error">
                  <div ng-message="pattern"></div>
                </div>
              </md-input-container>        
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 m-b">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;">
                <label>Youtube channel URL</label>
                <input  name="youtube" ng-model='user.youtube' type="url" pattern="">
                <div ng-messages="user.youtube.$error">
                  <div ng-message="pattern"></div>
                </div>
              </md-input-container> 
            </div>
            <div class="col-sm-6 m-b">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;">
                <label>LinkedIn URL</label>
                <input  name="in" ng-model='user.in' type="url" pattern="">
                <div ng-messages="user.in.$error">
                  <div ng-message="pattern"></div>
                </div>
              </md-input-container>        
            </div>
          </div>
          <footer class="p text-right">
            <button type="submit" class="md-btn md-raised p-h-md"> Next</button>
          </footer>
      </form>
    </div>
  </div>