<div class="row row-sm">
  <div class="col-sm-4">
    <div class="panel panel-card" md-whiteframe="11">
      <div class="r-t pos-rlt" md-ink-ripple style="background:url(images/a0.jpg) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="images/a0.jpg" class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">David M.</span>
          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border">Edit</a>
          <p>
            I am designing something.
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge">12</span> 
            <i class="icon mdi-communication-chat i-20" style="margin-right: 5px;"></i>
          Messages
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">23</span> 
            <i class="icon mdi-av-video-collection i-20" style="margin-right: 5px;"></i>
          Videos
        </a>
      </div>
      <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Followers</em>
        </a>
        <a href class="inline m text-color">
          <span class="h3 block font-bold">250</span>
          <em class="text-xs">Following</em>
        </a>
      </div>
      <div class="p b-b b-light">
        <p>About</p>
        <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
        <div class="m-v text-center">
          <a class="text-muted">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-google"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-instagram"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-youtube"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
        <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <i class="icon mdi-content-mail i-20" style="margin-right: 5px;"></i><span>sample@nextontop.com</span>
        </a>
        <a class="list-group-item">
          <i class="icon mdi-communication-phone i-20" style="margin-right: 5px;" ></i>+91 9488145197  
        </a>
        <a class="list-group-item">
          <i class="glyphicon glyphicon-globe i-20" style="margin-right: 5px;"></i> www.sample.com
        </a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <div class="card {{app.setting.theme.primary}}">
          <div class="card-heading">
            <h2 class="font-thin">Follow</h2>
          </div>
          <div class="card-divider"></div>
          <div class="card-body">
            <a href class="m-r-xs inline">
              <img src="images/a4.jpg" class="w-40 img-circle">
            </a>
            <a href class="m-r-xs inline">
              <img src="images/a5.jpg" class="w-40 img-circle">
            </a>
            <a href class="m-r-xs inline">
              <img src="images/a6.jpg" class="w-40 img-circle">
            </a>
            <a class="btn btn-rounded btn-info">99+</a>
          </div>
        </div>  
      </div>
      <div class="col-sm-6">
        <div class="card {{app.setting.theme.primary}}">
          <div class="card-heading">
            <h2 class="font-thin">Following</h2>
          </div>
          <div class="card-divider"></div>
          <div class="card-body">
            <a href class="m-r-xs inline">
              <img src="images/a4.jpg" class="w-40 img-circle">
            </a>
            <a href class="m-r-xs inline">
              <img src="images/a5.jpg" class="w-40 img-circle">
            </a>
            <a href class="m-r-xs inline">
              <img src="images/a6.jpg" class="w-40 img-circle">
            </a>
            <a class="btn btn-rounded btn-info">99+</a>
          </div>
        </div>  
      </div>
    </div>
    <div class="panel panel-card">
      <md-tabs md-selected="selectedIndex" flex>
        <md-tab ng-disabled="tab.disabled" label="Following">
          <div class="b-t" flex>
            <div layout="row" layout-sm="column" layout-margin >
              <md-input-container>
                
    <div class="col-sm-6">
      <div class="panel panel-card" style="width:370px ">
        <div class="row" style="margin-bottom: 10px;padding-right: 15px;">
          <div class="col-sm-3">
            <img src="images/a0.jpg" class="img-circle img-responsive" width="70px">
          </div>
          <div class="col-sm-8" style="padding-left: 0px;">
            <h3 style="margin-top: 10px;">Paracosm</h3>
            <p>Published on : <p> 
          </div>
          
            <ul class="list-inline">
              <li class="dropdown">
              <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                <i class="mdi-navigation-more-vert text-md"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                <li><a href>Action</a></li>
                <li><a href>Another action</a></li>
              </ul>
              </li>
            </ul>
          
        </div>
        <div class="item">
          <img src="images/c1.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Title
          </div>
        </div>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">23</span></a>
        <div class="p">
          <h3>Paracosm</h3>
          <hr style="margin:0px;" />
          <h5><b>Language : </b>Gujarathi</h5>
          <h5><b>Genre : </b>Adventure</h5>
          <h5><b>Views : </b>6542</h5>
          <hr style="margin:10px;" />
          <p>
            The titles of Washed Out's breakthrough song  language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>  
              </md-input-container>
            </div>
          </div>
        </md-tab>

        <md-tab ng-disabled="tab.disabled" label="My Timeline">
        <div class="b-t" flex>
        <div layout="row" layout-sm="column" layout-margin >
          <md-input-container>
            <div class="p-h-lg m-b-lg">      
        <div class="streamline b-l p-v m-l-xs">
          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a2.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>James</a> said
                <span class="text-muted block text-xs">
                  Just now
                </span>
              </div>
              <div class="m-b">
                <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
                <div class="m-t-sm">
                  <a href class="text-muted m-xs">Like</a>
                  <a href class="text-muted m-xs">Comment</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a3.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>Oscar</a> upload a file
                <span class="text-muted block text-xs">
                  3 minutes ago
                </span>
              </div>
              <div class="m-b">
                <div class="w-xl w-auto-xs">
                  <div class="box bg-light">
                    <div class="box-col w-xs text-center dk p-md v-m">
                      <i class="fa fa-file-text-o text-3x text-muted-lt"></i>
                    </div>
                    <div class="box-col p">
                      <a href>Geuismod tincidunt</a>
                      <div>Diam nonummy nibh euismod tincidunt ut laoreet. </div>
                    </div>
                  </div>
                </div>
                <div class="m-t-sm">
                  <a href class="text-muted m-xs">Like</a>
                  <a href class="text-muted m-xs">Comment</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a4.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>Anny</a> post a photo
                <span class="text-muted block text-xs">
                  6 minutes ago
                </span>
              </div>
              <div class="m-b">
                <div><img src="images/a10.jpg" class="b p-xs"></div>
                <div class="m-t-sm">
                  <a href class="text-muted m-xs">Like</a>
                  <a href class="text-muted m-xs">Comment</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a5.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>Michel</a> post a comment
                <span class="text-muted block text-xs">
                  10 minutes ago
                </span>
              </div>
              <div class="m-b bg-light">
                <div class="p-sm b-b b-white">
                  <img src="images/a4.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                  <a href>Tony</a> liked it
                </div>
                <div class="p-sm">
                  <img src="images/a6.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                  <a href>Anney</a> Commented it
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>      
          </md-input-container>
        </div>
        </div>
        </md-tab>
      </md-tabs>
        



      </div>
</div>
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green"><i class="mdi-editor-mode-edit i-24"></i></a>
